<app-home></app-home>

<div>
    <div class="row">
        <div class="col-md-12">
            <h3 style=" text-align: center; ">Items</h3>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <form>
                <div class="input-group mb-3" style="width: 25rem;margin-left: 25%;">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Name</span>
                  </div>
                  <input type="text" class="form-control" [(ngModel)]="itemObj.name" [ngModelOptions]="{standalone: true}">
                </div>

                <div class="input-group mb-3" style="width: 25rem;margin-left: 25%;">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Code</span>
                    </div>
                    <input type="number" class="form-control" [(ngModel)]="itemObj.code" [ngModelOptions]="{standalone: true}">
                  </div>

                  <div class="input-group mb-3" style="width: 25rem;margin-left: 25%;">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Default Cost</span>
                    </div>
                    <input type="number" class="form-control" [(ngModel)]="itemObj.defaultCost" [ngModelOptions]="{standalone: true}">
                  </div>

                  <div class="input-group mb-3" style="width: 25rem;margin-left: 25%;">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Default Price</span>
                    </div>
                    <input type="number" class="form-control" [(ngModel)]="itemObj.defaultPrice" [ngModelOptions]="{standalone: true}">
                  </div>

                  <div class="input-group mb-3" style="width: 25rem;margin-left: 25%;">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Description</span>
                    </div>
                    <input type="text" class="form-control" [(ngModel)]="itemObj.descriptions" [ngModelOptions]="{standalone: true}">
                  </div>

                  <div class="row">
                    <div class="form-inline mt-3" style=" margin-left: 24%; ">
                        <button type="button" class="btn btn-success mx-1" *ngIf="! IsUpdate"
                            (click)="saveItemsInfo()"><i class="fa fa-plus"></i>
                            Save</button>
                        <button type="button" class="btn btn-success mx-1" *ngIf="IsUpdate"
                            (click)="UpdateItemsInfo()"><i class="fa fa-plus"></i>
                            Update</button>
                        <button type="button" class="btn btn-warning ml-2" (click)="ResetItemsInfoEntryForm()"><i
                                class="fa fa-refresh"></i>
                            Reset</button>
                        <button type="button" class="btn btn-danger mx-1" *ngIf="! IsUpdate"
                        style="display:none;" ><i class="fa fa-trash"></i>
                            Delete</button>
                        <button type="button" class="btn btn-danger mx-1" *ngIf="IsUpdate"
                            (click)="DeleteItemInfo(itemObj)"><i class="fa fa-trash"></i>
                            Delete</button>
                    </div>
                </div>

              </form>
        </div>
        <div class="col-md-6">
            <div class="table-fixed">
                <table class="table table-bordered table-p4 custom-table-hover">
                    <thead>
                        <tr>
                            <th class="width-1p text-center" style="padding-left: 0.2em;">SN#</th>
                            <th class="width-1p">Code</th>
                            <th class="width-10p">Name</th>
                            <th class="width-1p">Descriptions</th>
                            <th class="width-1p">defaultCost</th>
                            <th class="width-1p">defaultPrice</th>
                            <th class="width-1p">EDIT</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of itemList; let i = index">
                            <td class="text-center">{{i+1}}</td>
                            <td class="text-center">{{item?.code}}</td>
                            <td class="text-left">{{item?.name}} </td>
                            <td class="text-left">{{item?.descriptions}}</td>
                            <td class="text-center">{{item?.defaultCost}}</td>
                            <td class="text-center">{{item?.defaultPrice}}</td>
                            <td class="text-center hoverPointer" (click)="EditItemInfo(item);"><i
                                class="fa fa-pencil" aria-hidden="true"></i></td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
